// 支持es4语法
var filter = {
  numberToFixed: function(value) {
    return 1
  },
  arrayExist: function(array, value) {
    return array.indexOf(value) !== -1
  },
  priceStr: function(price) {
    if (isNaN(price)) {
      return ''
    }
    var eachPrice = ((price * 100) / 100).toFixed(2)
    return eachPrice //(price *100 / 100).toFixed(2);
  },
  enum: {
    orderStatus: {
      WaitPay: 0, //待付款
      PaySuccess: 1, //付款成功
      Ship: 3, //已发货
      Delivered: 5, //已签收
      RefundApply: -1, //退货申请
      Refund: -3, //退货中
      RefundSuccess: -5, //已退货
      OrderCancel: -7, //取消交易
      ApplyCancel: -9 //撤销申请
    }
  }
}

// 导出对外暴露的属性
module.exports = {
  numberToFixed: filter.numberToFixed,
  arrayExist: filter.arrayExist,
  priceStr: filter.priceStr,
  orderStatus: filter.enum.orderStatus
}
