// 支持es4语法
var filter = {
  jsonpParseData: function (data, field) {
    if (data == null || data == "") {
      return null
    }
    var dd = JSON.parse(data)
    return dd[field]
  },
  numberToFixed: function (value) {
    return 1
  },
  arrayExist: function (array, value) {
    if (array == null || array.length <= 0) {
      return false
    }
    return array.indexOf(value) !== -1
  },
  priceStr: function (price) {
    if (isNaN(price)) {
      return ''
    }
    var eachPrice = ((price * 100) / 100).toFixed(2)
    return eachPrice //(price *100 / 100).toFixed(2);
  },
  //小数点前
  pricePointBeforeStr: function (price) {
    if (isNaN(price)) {
      return ''
    }
    var str = filter.priceStr(price)
    srt = str.substring(0, str.indexOf("."))
    return srt
  },
  //小数点后
  pricePointLateStr: function (price) {
    if (isNaN(price)) {
      return ''
    }
    var str = filter.priceStr(price)
    srt = str.substring(str.indexOf(".") + 1, str.length)
    return srt
  },
  enum: {
    orderStatus: {
      WaitPay: '0000', //待付款
      WaitProcess: '0001', //待完成
      PaySuccess: '0910', //付款成功
      Ship: '0930', //已发货
      Delivered: '0990', //已签收
      Finish: '9990',//订单已完成 
      OrderCancel: '-1000', //取消交易
      // ApplyCancel: -9 //撤销申请
      // RefundApply: -1, //退货申请
      // Refund: -3, //退货中
      // RefundSuccess: -5, //已退货
    },
    paymentType: {//支付方式
      WeChatPay: 'WeChatPay',//微信支付
      OfflinePay: 'OfflinePay'//线下支付
    },
  }
}

// 导出对外暴露的属性
module.exports = {
  jsonpParseData: filter.jsonpParseData,
  numberToFixed: filter.numberToFixed,
  arrayExist: filter.arrayExist,
  priceStr: filter.priceStr,
  pricePointBeforeStr: filter.pricePointBeforeStr,
  pricePointLateStr: filter.pricePointLateStr,
  orderStatus: filter.enum.orderStatus,
  paymentType: filter.enum.paymentType
}
