@import "../../assets/css/variables.scss";

Page {
    padding-bottom: 1rpx;
    .list {
        margin: 20rpx 0;
        .listItem {
            position: relative;
            @extend %flex;
            &:not(:first-child){
                border-top: 1rpx solid $line-color;
            }
            padding: 20rpx;
            background: #ffffff;
            .hd {
                font-size: 0;
                image {
                    width: 200rpx;
                    height: 200rpx;
                    margin-right: 20rpx;
                    border-radius: 10rpx;
                }
            }
            .bd {
                @include flex-item;
                .name {
                    @extend %flex-center;
                    margin-bottom: 10rpx;
                    .status1 {
                        color: $mainRed;
                        font-weight: bold;
                    }
                    .status2 {
                        color: $mainGreen;
                        font-weight: bold;
                    }
                    .status3 {
                        color: $mainBlack3;
                        font-weight: bold;
                    }
                    .chBd {
                        @include flex-item;
                        & > view {
                            @include line;
                            font-weight: bold;
                        }
                    }
                    .chFt {
                        font-size: 0;
                        image {
                            width: 32rpx;
                            height: 32rpx;
                            margin-left: 20rpx;
                        }
                    }
                }
                .des {
                    @include line(2);
                    margin-bottom: 10rpx;
                    color: $mainBlack2;
                    font-size: 24rpx;
                    height: 66rpx;
                }
                .groupInfo {
                    @extend %flex;
                    font-size: 24rpx;
                    margin-bottom: 10rpx;
                    .chHd {
                        color: $mainBlack3;
                        margin-right: 10rpx;
                        min-width: 60rpx;
                    }
                    .chBd {
                        color: $mainRed;
                        .text {
                            margin-right: 20rpx;
                            display: inline;
                        }
                    }
                }
                .dotInfo {
                    @extend %flex;
                    font-size: 24rpx;
                    .chHd {
                        color: $mainBlack3;
                        margin-right: 10rpx;
                        min-width: 60rpx;
                    }
                    .chBd {
                        color: $mainColor;
                        .text {
                            margin-right: 20rpx;
                            display: inline;
                        }
                    }
                }
            }
        }
    }
}
