@import "../../assets/css/variables.scss";

Page {
    padding-top: 50rpx;
    padding-bottom: 1rpx;

    .info {
        color: $mainBlack2;
        padding: 20rpx;
    }

    .app-btn {
        margin-top: 80rpx;
    }
}

