@import "../../assets/css/variables.scss";

Page {
    .headWrap {
        height: 360rpx;
        background: $mainColor;
        text-align: center;
        position: relative;
        .headBd {
            position: absolute;
            z-index: 3;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 250rpx;
        }
        .headContent {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            & > .avatar {
                display: inline-block;
                width: 160rpx;
                height: 160rpx;
                margin-top: 50rpx;
                padding: 8rpx;
                border-radius: 50%;
                background: rgba(255, 255, 255, 0.4);
                box-sizing: border-box;
                & > view {
                    width: 100%;
                    height: 100%;
                    padding: 4rpx;
                    border-radius: 50%;
                    background: #ffffff;
                    box-sizing: border-box;
                    image {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
            }
            & > .name {
                padding: 30rpx;
                color: #fff;
            }
        }

    }
    .list {
        border-top: 1rpx solid $line-color;
        border-bottom: 1rpx solid $line-color;
        background: #ffffff;
        margin: 30rpx 0;
        .listItem {
            @extend %flex-center;
            position: relative;
            padding: 20rpx 30rpx;
            line-height: $line-height;
            &:active {
                -webkit-transition: background 0.3s;
                transition: background 0.3s;
                background: $active;
            }
            &:not(:last-child) {
                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 30rpx;
                    right: 0;
                    border-bottom: 1rpx solid $line-color;
                }
            }
            .bd {
                @include flex-item;
            }

        }
    }
}
