@import "../../assets/css/variables.scss";

Page {
    padding-top: 400rpx;
    padding-bottom: 1rpx;
    background: #ffffff;
    .headWrap {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 300rpx;
        z-index: 1;
        text-align: center;
        color: #fff;
        background: #ffffff;
        .headContent {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            $color1: #1ec8a2;
            $color2: rgba(30, 200, 162, 0.7);
            background: -webkit-linear-gradient(top,$color1,$color2);
            background: linear-gradient(180deg,$color1,$color2);
            .group {
                position: absolute;
                top: 20rpx;
                left: 20rpx;
            }
            & > .name {
                @include line;
                padding: 20rpx;
                font-size: 36rpx;
            }
            & > .process {
                @include line;
                padding: 20rpx;
                font-size: 50rpx;
            }
            & > .score {
                @include line;
                padding: 20rpx;
                font-size: 30rpx;
                color: #ffffff;
            }
        }
    }
    .tabList {
        position: fixed;
        top: 300rpx;
        left: 0;
        width: 100%;
        z-index: 1;
        background: #ffffff;
        text-align: center;
        color: $mainBlack3;
        .tabWrap {
            display: inline-block;
            position: relative;
            .line {
                position: absolute;
                left: 0;
                bottom: 10rpx;
                height: 2px;
                border-radius: 2px;
                background: $mainColor;
                width: 112rpx;
                transform: translateX(30rpx);
                -webkit-transform: translateX(30rpx);
                transform-origin: 50% 50% 0;
            }
            .tab {
                -webkit-transition: color 0.3s;
                transition: color 0.3s;
                display: inline-block;
                padding: 30rpx;
                &.cur {
                    color: $mainBlack1;
                    font-weight: 700;
                }
            }
        }
    }
    .list {
        .listItem {
            @extend %flex-center;
            position: relative;
            padding: 20rpx 30rpx;
            line-height: $line-height;
            &:active {
                -webkit-transition: background 0.3s;
                transition: background 0.3s;
                background: $active;
            }
            &:not(:last-child) {
                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 30rpx;
                    right: 30rpx;
                    border-bottom: 1rpx solid $line-color;
                }
            }
            .rank1 {
                margin-right: 30rpx;
                font-weight: bold;
                width: 40rpx;
            }
            .rank2 {
                margin-right: 30rpx;
                font-size: 0;
                image {
                    width: 40rpx;
                    height: 40rpx;
                }
            }
            .hd {
                font-size: 0;
                margin-right: 32rpx;
                height: 80rpx;
                image {
                    width: 80rpx;
                    height: 80rpx;
                    border-radius: 50%;
                }
            }
            .bd {
                @include flex-item;
                @include line;
            }
            .score {
                color: $mainYellow;
                margin-left: 20rpx;
            }
        }
    }
}
